*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}

body html{
    line-height: 1.4;
    font-weight: 300px;
}
h1{
background-color: unchanged;
}
.section1{
    background-color: unchanged;

}